.Trip {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
  margin-top: 8rem;
}

.Trip h1 {
  font-size: 3rem;
}

.hey{
  font-size: 1.5rem;
}

.first-trip {
  display: flex;
  align-items: centre;
  justify-content: space-between;
  margin-top: 4.5rem;
}

.first-trip-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: centre;
  justify-content: space-between;
  margin-top: 4.5rem;
}

.trip-text {
  width: 45%;
  text-align: start;
  font-size: 1.1rem;
}

.trip-text h2 {
  padding-bottom: 1rem;
}
.images-trip {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: space-between;
  z-index: -99;
}

.images-trip img {
  width: 49%;
  height: 320px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.1);
}

.images-trip img:nth-child(2) {
  position: absolute;
  top: -10%;
  right: 0;
}

@media screen and (max-width: 650px) {

  .Trip 
  {
    margin: 0rem 2rem;
  }

  .first-trip 
  {
    flex-direction: column-reverse;
    margin-top: 2.5rem;
    align-items: center;
    justify-content: space-between;
  }

  .first-trip-reverse 
  {
    flex-direction: column-reverse;
    margin-top: 4.5rem;
    align-items: center;
    justify-content: space-between;
  }

  .Desc-trip {
    width: 100%;
  }
  .images-trip {
    width: 100%;
    margin: 1.6rem 0rem;
  }
  .images-trip img {
    height: 200px;
  }
}
